.sidebarFriend {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.sidebarFriendImg {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}